@model CertificationApp.Domain.Entities.Report

<div class="well">
    <h3>
        <strong>@Model.ClientName</strong>
        <span class="pull-right label label-primary">@Model.Price.ToString("# грн")</span>
    </h3>
    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        <div class="pull-right">
            @Html.HiddenFor(x => x.ReportId)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success" value="Додати в корзину" />
        </div>
    }
    <span class="lead">@Model.ProductHeading</span>
    <br/>
</div>