@model CertificationApp.Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "Certification: форма відправки";
}

<h2>Оформити зараз</h2>
<p>Введіть дані</p>


@using (Html.BeginForm())
{
    <h3>Дані</h3>
    @Html.ValidationSummary();
    <div class="form-group">
        <label>Ваше ім'я:</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>

    <h3>Адрес доставки</h3>
    foreach (var property in ViewData.ModelMetadata.Properties.Where(property => property.PropertyName != "Name" && property.PropertyName != "GiftWrap"))
    {
        <div class="form-group">
            <label>@(property.DisplayName ?? property.PropertyName)</label>
            @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
        </div>
    }

    <h3>Опції</h3>
    <div class="checkbox">
        <label>
            @Html.EditorFor(x => x.GiftWrap)
            Нова пошта?
        </label>
    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Відправити заказ" />
    </div>

}


